.trello_board {
    width: 100%;
    height: 100%;
    background-color: aqua;
    padding: 20px;
    display: flex;
    flex-direction: column;

    .trello_cards{
        background-color: coral;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;

        .card{
            padding: 20px;
            min-width: 300px;
            border-radius: 4px;

            .card_header{
                .drag_title{
                    h1{
                        font-size: 20px;
                    }

                    svg{
                        fill: green !important;
                    }

                }

                .options{

                    button{
                        cursor: pointer;
                        font-size: 20px;
                        width: 20px;
                        height: 20px;
                        display: flex;
                        justify-content: center;
                    }
                }
            }
            
        }

    }

}

