.trello_board {
    width: 100%;
    height: 100%;
    background-color: #0079bf;
    padding: 25px;
    display: flex;
    flex-direction: column;
    padding-top: 65px;
   

    .trello_cards{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;

        .card{
            padding: 20px;
            min-width: 310px;
            max-width: 310px !important;
            border-radius: 12px;
            background-color: #EBECEF;

            .card_header{
                .card_title{
                    h1{
                        font-size: 20px;
                        color: #000;
                        font-family:'Courier New', Courier, monospace;
                    }
                    .edit_input{
                        display: inline;
                        input{
                            font-size: 20px;
                            color: #fd2323;
                            font-family: 'Roboto';
                            background: transparent;
                            border: none !important;
                            outline: none !important;
                            box-shadow: none !important;
                            margin: 0;
                            width: auto;
                        }
                    }
                }

                .options{
                    button{
                        background-color: #EBECEF;
                        border:none;

                        svg{
                            fill: none;
                        }
                    }

                    &:hover{
                        button{
                            cursor: pointer;
                            margin: 0;

                            svg{
                                fill: #000000;

                            }
                        }

                    }

                }
            }

            .tasks-area{
                width: 100%;
                .tasks-list{
                   width: 100%;
                   height: auto;

                   .task-item{
                    background-color: #ffffff;
                    border-radius: 10px;
                    padding: 10px;
                    margin-top: 7px;
                    box-shadow: 1px 12px 20px 0px #cccbcb;

                    .task-tags{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        flex-wrap: wrap;
                        gap: 5px;
                        .task-tag{
                            padding: 3px;
                            font-size: 10px;
                            font-family: 'Roboto';
                            border-radius: 5px;
                            margin-bottom: 5px;
                            &.bug { background: #eb5a46; color: white; }
                                    &.feature { background: #61bd4f; color: white; }
                                    &.urgent { background: #ff9f1a; color: white; }
                                    &.low-priority { background: #f2d600; color: white; }
                                    &.high-priority { background: #c377e0; color: white; }
                        }
                    }
                   }



                    
                }
                .task-content{
                        text-align: left; 

                        .edit_input{
                        display: inline;
                        input{
                            font-size: 20px;
                            color: #fd2323;
                            font-family: 'Roboto';
                            background: transparent;
                            border: none !important;
                            outline: none !important;
                            box-shadow: none !important;
                            margin: 0;
                            width: auto;
                        }
                    }
                        .task-title{
                            color: #000000; 
                            text-align: left;
                            display: block;
                            width: 100%;
                            cursor: pointer;
                            padding: 4px;
                            border-radius: 3px;
                            
                            &:hover{
                                background-color: #ffffff;
                            }
                        }
                    .task-options{
                        .task-dropdown-btn{
                            color: #fff;

                            &:hover{
                                color: #000;
                            }
                        }
                        .dropdown-menu{
                            .dropdown-menu-header{
                                margin-left: 15px;
                            }
                            
                        }
                    }
                    
                    
                }
                
            }
            .add-task-footer{
                margin-top: 10px;
                
            }

    }
    }
    }

